/* app css stylesheet */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/* BASE STYLES
============================================================================= */

html         { font-size: 62.5%; margin:0; padding:0;  height:100%;}
body{
	  background-color: #000;
	  font-family: 'Lato', sans-serif;
	  color:#fff;
	  font-size:16px;
	  font-size: 1.6rem;
	  line-height:1.35;
	  margin:0; padding:0;
	  letter-spacing: 0.02em;
	  position:relative;
	  height:100%;
}
.page        {  
	width:100%; 
	min-height:100%;
	position:relative;
}

.wrapper{
	
    width: 100%;
    padding-top:1px;
    min-height:100%;
    
}

h1 , h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
}

h1 	{  
	font-size:14px;
	font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;

    .light{
    	font-weight: 300;
    }
}
h1.main-title{
	float:left;
	margin-left:18px;
	line-height:2;
}

h2 	{  
	font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;

    &.secondary-title{
    	color:rgba(255,255,255,1);
    }
}



header{
	background: rgba(0,0,0,0.9);
	 border-bottom: 1px solid rgba(255,255,255,0.3);
    padding: 12px 0px;
	font-size: 1.4rem;
	font-size:14px;
	position: fixed;
    top: 0;
    width: 100%;

	nav li{
		float:right;
		margin-right:20px;
	}

	.team-icon img {
    		width: 26px;
    		margin-top:2px;
	}

	.table-logo{
		
		font-weight:100;
		span,img{
			display: inline-block;
    		margin-top: 0px;
    		width: 24px;
		}
	}
}


footer{
	position:absolute;
	width:100%;
	bottom:0;

	.copyright{
		margin-left:18px;
		float:left;

		.copy-logo{
			display: block;
		    float: left;
		    font-size: 18px;
		    margin-right: 10px;
		    margin-top: 5px;
		}

		.lloyd-logo, img{
			float:left;
			width:30px;
			display:block;
		}
	}
    font-size: 14px;
    padding: 12px 0;
    width: 100%;

	ul.social-media li{
		float:right;
		margin-right:20px;
		list-style:none;
		width:26px;
		a, img{
			width:26px;
			display:block;
			font-size:26px;
		}

		.wa_btn{
				width:26px!important;
			display:block!important;
			font-size:26px!important;
			padding:0;
			margin:0;
			background:transparent;
			display:block;
		}
	}


}

.container{
	padding: 0px 18px 50px 18px;

	 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
}

/* TEAMS */

.chelseafc{
	.container{
		background:rgba(15,81,147,1);
	}
	header{
		background:rgba(15,81,147,0.9);
	}
}

.manchestercityfc{
	.container{
		background:rgba(47,185,234,1);
	}

	header{
		background:rgba(47,185,234,0.9);
	}
}

.fcarsenallondon{
	.container{
		background:rgba(237,47,61,1);
	}
	
	header{
		background:rgba(237,47,61,0.9);
	}
}

.manchesterunitedfc{
	.container{
		background:rgba(216,43,60,1);
	}
	
	header{
		background:rgba(216,43,60,0.9);
	}

}

.fcsouthampton{
	.container{
		background:rgba(234,47,83,1);
	}

	header{
		background:rgba(234,47,83,0.9);
	}
}

.liverpoolfc{
	.container{
		background:rgba(206,41,77,1);
	}

	header{
		background:rgba(206,41,77,0.9);
	}
}

.tottenhamhotspurfc{
	.container{
		background:rgba(17,42,86,1);
	}

	header{
			background:rgba(17,42,86,0.9);
	}
}

.westhamunitedfc{
	.container{
		background:rgba(94,19,53,1);
	}

	header{
		background:rgba(94,19,53,0.9);
	}
}

.swanseacity{
	.container{
		background:rgba(0,0,0,1);
	}
	
	header{
		background:rgba(0,0,0,0.9);
	}
}

.stokecityfc{
	.container{
		background:rgba(221,44,57,1);
	}

	header{
		background:rgba(221,44,57,0.9);
	}
}

.newcastleunited{
	.container{
		background:rgba(33,7,14,1);
	}

	header{
		background:rgba(33,7,14,0.9);
	}
}

.evertonfc{
	.container{
		background:rgba(27,63,135,1);
	}

	header{
			background:rgba(27,63,135,0.9);
	}
}

.crystalpalace{
	.container{
		background:rgba(27,69,143,1);
	}
	
	header{
			background:rgba(27,69,143,0.9);
	}
}

.westbromwichalbion{
	.container{
		background:rgba(16,29,81,1);
	}

	header{
			background:rgba(16,29,81,0.9);
	}
}

.hullcityfc{
	.container{
		background:rgba(244,155,49,1);
	}
	
	header{
		background:rgba(244,155,49,0.9);
	}
}

.sunderlandafc{
	.container{
		background:rgba(235,23,43,1);
	}

	header{
		background:rgba(235,23,43,0.9);
	}
}

.queensparkrangers{
	.container{
		background:rgba(34,112,170,1);
	}

	header{
		background:rgba(34,112,170,0.9);
	}
}

.fcburnley{
	.container{
		background:rgba(81,16,46,1);
	}

	header{
		background:rgba(81,16,46,0.9);
	}
}

.astonvillafc{
	.container{
		background:rgba(119,24,74,1);
	}
	
	header{
		background:rgba(119,24,74,0.9);
	}
}

.leicestercity{
	.container{
		background:rgba(32,104,158,1);
	}

	header{
		background:rgba(32,104,158,0.9);
	}
}

.menu {
	
	img,span{
		width:26px;
		display:block;
	}
}


.desktop{
		display:block!important;
	}

	.mobile{
		display:none!important;
	}

	.desktop-inline{
		display:inline-block!important;
	}

	.mobile-inline{
		display:none!important;
	}

/* PAGES
============================================================================= */

.container{
    margin:0 auto;
    width: 100%;
    padding-top:77px;
    padding-bottom: 90px;
}

#main{
	max-width:800px;
	margin:0 auto;
}

.page-league{
	.container{
		max-width:500px;
	}

	tbody  td:nth-child(2){
	 text-align: left;
	}

	.menu {
		
				zoom: 1;
				filter: alpha(opacity=30);
				opacity: 0.3;
		
	}
}

.page-team{
	.menu {
		li:nth-child(2){
			zoom: 1;
			filter: alpha(opacity=30);
			opacity: 0.3;
		}
	}
}

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin:30px 0 0 0;

td, th {
    text-align: left;
    white-space: nowrap;
    padding:2px 0 5px
   
}

table thead th:last-child{
	text-align:right;
}

th {
	font-weight:700;
}


tbody > tr:nth-child(2n+1){
	font-weight:300;
}

	tbody > tr:nth-child(2n+2){
		font-weight:300;

	}


}

table.league{


	tbody > tr:nth-child(5) td{
	 border-top: 1px dotted rgba(255,255,255,0.25);
	 border-bottom: 1px dotted rgba(255,255,255,0.25);
	}

tbody > tr:nth-child(18) td{
	 border-top: 1px dotted rgba(255,255,255,0.25);
	}
}

a{
	text-decoration: none;
	color:#fff;
}


.page-fixtures {
	.container{
		
		}
		table tbody td:nth-child(1){
			text-align: left;
		}

		table tbody td:nth-child(2){
			text-align: right;
		}

 		table tbody td:nth-child(3){
			text-align: center;
			font-weight:100;
		}

		table tbody td:nth-child(4){
			text-align: left;
		}

	#main{
		max-width: 610px;
	}

	.menu {
		li:nth-child(1){
			zoom: 1;
			filter: alpha(opacity=30);
			opacity: 0.3;
		}
	}
}


/* ANIMATIONS
============================================================================= */

/*
.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }
*/
/* page specific animations ------------------------ */

/* league -------------------------- */

/*.page-league.ng-leave         {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1s both ease-in;
}


.page-league.ng-enter 		{  
    -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;    
}*/

.page.ng-leave         {
       -webkit-animation:fadeOut 0.6s both ease-in;
	-moz-animation:fadeOut 0.6s both ease-in;
	animation:fadeOut 0.6s both ease-in;   
}

.page.ng-enter 		{  
    -webkit-animation:fadeIn 2s both ease-in;
	-moz-animation:fadeIn 2s both ease-in;
	animation:fadeIn 2s both ease-in;    
}




/* team ------------------------ */
/*.page-team.ng-leave        {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
	-moz-animation:slideOutLeft 0.5s both ease-in;
	animation:slideOutLeft 0.5s both ease-in;   
}
.page-team.ng-enter 		{  
    -webkit-animation:slideInRight 0.5s both ease-in;
	-moz-animation:slideInRight 0.5s both ease-in;
	animation:slideInRight 0.5s both ease-in;    
}
*/
/* fixtures ---------------------- */
/*.page-fixtures.ng-leave      {
    -webkit-transform-origin: 50% 50%;
	-webkit-animation: rotateOutNewspaper .5s both ease-in;
	-moz-transform-origin: 50% 50%;
	-moz-animation: rotateOutNewspaper .5s both ease-in;
	transform-origin: 50% 50%;
	animation: rotateOutNewspaper .5s both ease-in;
}
.page-fixtures.ng-enter 		{ 
    -webkit-animation:slideInUp 0.5s both ease-in;
	-moz-animation:slideInUp 0.5s both ease-in;
	animation:slideInUp 0.5s both ease-in;  
}*/

@media only screen 
and (min-width : 667px) {
table{
		tr{
				&:hover{
					background:none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
				}
		}
	}
}

@media only screen 
and (min-width : 1500px) {
	
	.page-team{
		#main{
		    font-size:120%;
		    max-width: 1000px;
		}
	}

	.page-league{
		#main{
		    font-size:120%;
		    max-width: 600px;
		}
	}

	.page-fixtures{
		#main{
		    font-size:120%;
		   
		}
		#main{
			 max-width: 700px;
		}
	}
	
}

@media only screen 
and (max-width : 667px) {

	tr{

	
	}

	.desktop{
		display:none!important;
	}

	.mobile{
		display:block!important;
	}

	.desktop-inline{
		display:none!important;
	}

	.mobile-inline{
		display:inline-block!important;
	}


	.page-league{

			thead  th:nth-child(3),thead th:nth-child(4),thead  th:nth-child(5),
			tbody  td:nth-child(3),tbody  td:nth-child(4),tbody  td:nth-child(5){
				display:none;
			}
		}

	.page-team{

			thead  th:nth-child(4),thead th:nth-child(5),thead  th:nth-child(6), ,thead  th:nth-child(7),
			tbody  td:nth-child(4),tbody  td:nth-child(5),tbody  td:nth-child(6),tbody  td:nth-child(7){
				display:none;
			}
		}

	.page-fixtures{

			table{
				font-size:13px;
				font-size:1.3rem;
			

				thead  th:nth-child(1),
				tbody  td:nth-child(1){
					display:none;
				}

				tbody td:nth-child(2), tbody td:nth-child(3){
					text-align:left;
				}
			}
		}

}

/* fade in */
@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity:1; }
}

@-moz-keyframes -keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity:1; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity:1; }
}

/* fade out */
@-webkit-keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity:0; }
}

@-moz-keyframes -keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity:0; }
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity:0; }
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% { -moz-transform: rotateZ(0deg); }
	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40% { -moz-transform: rotateZ(17deg); }
	60% { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(100%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(100%); }
	to 		{ -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
	to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
	to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
	to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}


