<div class="wrapper {{teamDetails.name | nospace}}">
  <header>
    <nav>
        <ul class="clearfix">
          <li>
            <a href="#" class="premier-league-logo">
                <span ><img src="img/premier_league.svg" /></span>
            </a>
          </li>
          <li>
            <a href="./#/teams" class="team-icon">
                <span ><img src="img/team_icon.svg" /></span>
            </a>
          </li>
          <li>
            <a href="./#/fixtures/{{teamDetails.id}}" class="fixtures-icon">
                <span ><img src="img/fixtures_icon.svg" /></span>
            </a>
          </li>
    </nav>
</header>
<div class="container ">
  <section id="main">
  <a href="./#/teams">League table</a>
   <a href="./#/fixtures/{{teamDetails.id}}">Fixtures</a>
  <div>
          <td>{{teamDetails.name}}</td>
</div>
    <div>
       <table class="players">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Number</th>
          <th>DOB</th>
          <th>Nationality</th>
          <th>Contract Expires</th>
          <th>Market Value</th>
       </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in team.players">
          <td>{{player.jerseyNumber}}</td>          
          <td>{{player.name}}</td>
          <td>{{player.position}}</td>
          <td>{{calculateAge(player.dateOfBirth ) }}</td>
          <td>{{player.nationality}}</td>
          <td>{{player.contractUntil | cmdate:'MM/dd/yyyy'}}</td>
          <td>{{player.marketValue}}</td>
        </tr>
      </tbody>
    </table>
</section>
</div>
</div>