<div class="wrapper {{teamDetails.name | nospace}}">
  <header>
    <h1 class="main-title"><span class="desktop-inline">Premier League 2014/15 </span><span class="mobile-inline">EPL 14/15 </span><span class="light">/ Squad</span></h1>
    <nav class="menu">
        <ul class="clearfix ">
          <li>
             <a href="./#/fixtures/{{teamDetails.id}}" class="fixtures-icon">
                <span ><img src="img/fixtures-icon.svg" /></span>
            </a>           
          </li>
          <li>
            <a class="team-icon">
                <span ><img src="img/players-icon.svg" /></span>
            </a>
          </li>
          <li>
            <a href="./#/teams" class="table-logo">
                <span ><img src="img/table-icon.svg" /></span>
            </a>
          </li>
    </nav>
</header>
<div class="container ">
  <section id="main">
  <!--a href="./#/teams">League table</a>
   <a href="./#/fixtures/{{teamDetails.id}}">Fixtures</a-->
  <div>
          <h2 class="secondary-title">{{teamDetails.name }}</h2>
</div>
    <div>
       <table class="players">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Position</th>
          <th>DOB</th>
          <th>Nationality</th>
          <th>Contract Expires</th>
          <th>Market Value</th>
       </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in team.players | orderBy: 'jerseyNumber'">
          <td>{{player.jerseyNumber}}</td>          
          <td>{{player.name}}</td>
          <td>{{player.position}}</td>
          <td>{{calculateAge(player.dateOfBirth ) }}</td>
          <td>{{player.nationality}}</td>
          <td>{{player.contractUntil | cmdate:'MM/dd/yyyy'}}</td>
          <td>{{player.marketValue}}</td>
        </tr>
      </tbody>
    </table>
</section>
</div>
</div>