
<div class="container ">
  <h1>{{teamsList.leagueCaption}}</h1>
<h2>Matchday {{teamsList.matchday}}</h2>
  <table class="league">
    <thead>
      <tr>
        <th>Pos</th>
        <th>Team</th>
        <th>P</th>
        <th>F</th>
        <th>A</th>
        <th>GD</th>
        <th>Pts</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="team in teamsList.standing">
        <td>{{$index + 1}}</td>
        
        <td class="teams">
            <a  href="#/teams/{{teamID(team._links.team.href)}}">
              {{teamName(team.teamName)}}
            </a>
        </td>
        <td>{{team.playedGames}}</td>
        <td>{{team.goals}}</td>
        <td>{{team.goalsAgainst}}</td>
        <td>{{team.goalDifference}}</td>
        <td>{{team.points}}</td>
      </tr>
    </tbody>
  </table>
<div>
<div>