/* app css stylesheet */
/* line 3, ../sass/app.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 24, ../sass/app.scss */
body {
  line-height: 1;
}

/* line 28, ../sass/app.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../sass/app.scss */
nav ul {
  list-style: none;
}

/* line 37, ../sass/app.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/app.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/app.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 56, ../sass/app.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 63, ../sass/app.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 70, ../sass/app.scss */
del {
  text-decoration: line-through;
}

/* line 74, ../sass/app.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 79, ../sass/app.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 85, ../sass/app.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 94, ../sass/app.scss */
input, select {
  vertical-align: middle;
}

/* slightly enhanced, universal clearfix hack */
/* line 99, ../sass/app.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 107, ../sass/app.scss */
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 109, ../sass/app.scss */
* html .clearfix {
  height: 1%;
}

/* line 110, ../sass/app.scss */
.clearfix {
  display: block;
}

/* close commented backslash hack */
/* BASE STYLES
============================================================================= */
/* line 117, ../sass/app.scss */
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 118, ../sass/app.scss */
body {
  background-color: #000;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.35;
  margin: 0;
  padding: 0;
  letter-spacing: 0.02em;
  position: relative;
  height: 100%;
}

/* line 130, ../sass/app.scss */
.page {
  width: 100%;
  min-height: 100%;
  position: relative;
}

/* line 136, ../sass/app.scss */
.wrapper {
  width: 100%;
  padding-top: 1px;
  min-height: 100%;
}

/* line 144, ../sass/app.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* line 149, ../sass/app.scss */
h1 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}
/* line 156, ../sass/app.scss */
h1 .light {
  font-weight: 300;
}

/* line 160, ../sass/app.scss */
h1.main-title {
  float: left;
  margin-left: 18px;
  line-height: 2;
}

/* line 166, ../sass/app.scss */
h2 {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}
/* line 173, ../sass/app.scss */
h2.secondary-title {
  color: white;
}

/* line 180, ../sass/app.scss */
header {
  background: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 12px 0px;
  font-size: 1.4rem;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
}
/* line 190, ../sass/app.scss */
header nav li {
  float: right;
  margin-right: 20px;
}
/* line 195, ../sass/app.scss */
header .team-icon img {
  width: 26px;
  margin-top: 2px;
}
/* line 200, ../sass/app.scss */
header .table-logo {
  font-weight: 100;
}
/* line 203, ../sass/app.scss */
header .table-logo span, header .table-logo img {
  display: inline-block;
  margin-top: 0px;
  width: 24px;
}

/* line 212, ../sass/app.scss */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  padding: 12px 0;
  width: 100%;
}
/* line 217, ../sass/app.scss */
footer .copyright {
  margin-left: 18px;
  float: left;
}
/* line 221, ../sass/app.scss */
footer .copyright .copy-logo {
  display: block;
  float: left;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 5px;
}
/* line 229, ../sass/app.scss */
footer .copyright .lloyd-logo, footer .copyright img {
  float: left;
  width: 30px;
  display: block;
}
/* line 239, ../sass/app.scss */
footer ul.social-media li {
  float: right;
  margin-right: 20px;
  list-style: none;
  width: 26px;
}
/* line 244, ../sass/app.scss */
footer ul.social-media li a, footer ul.social-media li img {
  width: 26px;
  display: block;
  font-size: 26px;
}
/* line 250, ../sass/app.scss */
footer ul.social-media li .wa_btn {
  width: 26px !important;
  display: block !important;
  font-size: 26px !important;
  padding: 0;
  margin: 0;
  background: transparent;
  display: block;
}

/* line 264, ../sass/app.scss */
.container {
  padding: 0px 18px 50px 18px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

/* TEAMS */
/* line 275, ../sass/app.scss */
.chelseafc .container {
  background: #0f5193;
}
/* line 278, ../sass/app.scss */
.chelseafc header {
  background: rgba(15, 81, 147, 0.9);
}

/* line 284, ../sass/app.scss */
.manchestercityfc .container {
  background: #2fb9ea;
}
/* line 288, ../sass/app.scss */
.manchestercityfc header {
  background: rgba(47, 185, 234, 0.9);
}

/* line 294, ../sass/app.scss */
.fcarsenallondon .container {
  background: #ed2f3d;
}
/* line 298, ../sass/app.scss */
.fcarsenallondon header {
  background: rgba(237, 47, 61, 0.9);
}

/* line 304, ../sass/app.scss */
.manchesterunitedfc .container {
  background: #d82b3c;
}
/* line 308, ../sass/app.scss */
.manchesterunitedfc header {
  background: rgba(216, 43, 60, 0.9);
}

/* line 315, ../sass/app.scss */
.fcsouthampton .container {
  background: #ea2f53;
}
/* line 319, ../sass/app.scss */
.fcsouthampton header {
  background: rgba(234, 47, 83, 0.9);
}

/* line 325, ../sass/app.scss */
.liverpoolfc .container {
  background: #ce294d;
}
/* line 329, ../sass/app.scss */
.liverpoolfc header {
  background: rgba(206, 41, 77, 0.9);
}

/* line 335, ../sass/app.scss */
.tottenhamhotspurfc .container {
  background: #112a56;
}
/* line 339, ../sass/app.scss */
.tottenhamhotspurfc header {
  background: rgba(17, 42, 86, 0.9);
}

/* line 345, ../sass/app.scss */
.westhamunitedfc .container {
  background: #5e1335;
}
/* line 349, ../sass/app.scss */
.westhamunitedfc header {
  background: rgba(94, 19, 53, 0.9);
}

/* line 355, ../sass/app.scss */
.swanseacity .container {
  background: black;
}
/* line 359, ../sass/app.scss */
.swanseacity header {
  background: rgba(0, 0, 0, 0.9);
}

/* line 365, ../sass/app.scss */
.stokecityfc .container {
  background: #dd2c39;
}
/* line 369, ../sass/app.scss */
.stokecityfc header {
  background: rgba(221, 44, 57, 0.9);
}

/* line 375, ../sass/app.scss */
.newcastleunited .container {
  background: #21070e;
}
/* line 379, ../sass/app.scss */
.newcastleunited header {
  background: rgba(33, 7, 14, 0.9);
}

/* line 385, ../sass/app.scss */
.evertonfc .container {
  background: #1b3f87;
}
/* line 389, ../sass/app.scss */
.evertonfc header {
  background: rgba(27, 63, 135, 0.9);
}

/* line 395, ../sass/app.scss */
.crystalpalace .container {
  background: #1b458f;
}
/* line 399, ../sass/app.scss */
.crystalpalace header {
  background: rgba(27, 69, 143, 0.9);
}

/* line 405, ../sass/app.scss */
.westbromwichalbion .container {
  background: #101d51;
}
/* line 409, ../sass/app.scss */
.westbromwichalbion header {
  background: rgba(16, 29, 81, 0.9);
}

/* line 415, ../sass/app.scss */
.hullcityfc .container {
  background: #f49b31;
}
/* line 419, ../sass/app.scss */
.hullcityfc header {
  background: rgba(244, 155, 49, 0.9);
}

/* line 425, ../sass/app.scss */
.sunderlandafc .container {
  background: #eb172b;
}
/* line 429, ../sass/app.scss */
.sunderlandafc header {
  background: rgba(235, 23, 43, 0.9);
}

/* line 435, ../sass/app.scss */
.queensparkrangers .container {
  background: #2270aa;
}
/* line 439, ../sass/app.scss */
.queensparkrangers header {
  background: rgba(34, 112, 170, 0.9);
}

/* line 445, ../sass/app.scss */
.fcburnley .container {
  background: #51102e;
}
/* line 449, ../sass/app.scss */
.fcburnley header {
  background: rgba(81, 16, 46, 0.9);
}

/* line 455, ../sass/app.scss */
.astonvillafc .container {
  background: #77184a;
}
/* line 459, ../sass/app.scss */
.astonvillafc header {
  background: rgba(119, 24, 74, 0.9);
}

/* line 465, ../sass/app.scss */
.leicestercity .container {
  background: #20689e;
}
/* line 469, ../sass/app.scss */
.leicestercity header {
  background: rgba(32, 104, 158, 0.9);
}

/* line 476, ../sass/app.scss */
.menu img, .menu span {
  width: 26px;
  display: block;
}

/* line 483, ../sass/app.scss */
.desktop {
  display: block !important;
}

/* line 487, ../sass/app.scss */
.mobile {
  display: none !important;
}

/* line 491, ../sass/app.scss */
.desktop-inline {
  display: inline-block !important;
}

/* line 495, ../sass/app.scss */
.mobile-inline {
  display: none !important;
}

/* PAGES
============================================================================= */
/* line 502, ../sass/app.scss */
.container {
  margin: 0 auto;
  width: 100%;
  padding-top: 77px;
  padding-bottom: 90px;
}

/* line 509, ../sass/app.scss */
#main {
  max-width: 800px;
  margin: 0 auto;
}

/* line 515, ../sass/app.scss */
.page-league .container {
  max-width: 500px;
}
/* line 519, ../sass/app.scss */
.page-league tbody td:nth-child(2) {
  text-align: left;
}
/* line 523, ../sass/app.scss */
.page-league .menu {
  zoom: 1;
  filter: alpha(opacity=30);
  opacity: 0.3;
}

/* line 534, ../sass/app.scss */
.page-team .menu li:nth-child(2) {
  zoom: 1;
  filter: alpha(opacity=30);
  opacity: 0.3;
}

/* line 542, ../sass/app.scss */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 30px 0 0 0;
}
/* line 548, ../sass/app.scss */
table td, table th {
  text-align: left;
  white-space: nowrap;
  padding: 2px 0 5px;
}
/* line 555, ../sass/app.scss */
table table thead th:last-child {
  text-align: right;
}
/* line 559, ../sass/app.scss */
table th {
  font-weight: 700;
}
/* line 564, ../sass/app.scss */
table tbody > tr:nth-child(2n+1) {
  font-weight: 300;
}
/* line 568, ../sass/app.scss */
table tbody > tr:nth-child(2n+2) {
  font-weight: 300;
}

/* line 579, ../sass/app.scss */
table.league tbody > tr:nth-child(5) td {
  border-top: 1px dotted rgba(255, 255, 255, 0.25);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
}
/* line 584, ../sass/app.scss */
table.league tbody > tr:nth-child(18) td {
  border-top: 1px dotted rgba(255, 255, 255, 0.25);
}

/* line 589, ../sass/app.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* line 599, ../sass/app.scss */
.page-fixtures table tbody td:nth-child(1) {
  text-align: left;
}
/* line 603, ../sass/app.scss */
.page-fixtures table tbody td:nth-child(2) {
  text-align: right;
}
/* line 607, ../sass/app.scss */
.page-fixtures table tbody td:nth-child(3) {
  text-align: center;
  font-weight: 100;
}
/* line 612, ../sass/app.scss */
.page-fixtures table tbody td:nth-child(4) {
  text-align: left;
}
/* line 616, ../sass/app.scss */
.page-fixtures #main {
  max-width: 610px;
}
/* line 621, ../sass/app.scss */
.page-fixtures .menu li:nth-child(1) {
  zoom: 1;
  filter: alpha(opacity=30);
  opacity: 0.3;
}

/* ANIMATIONS
============================================================================= */
/*
.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }
*/
/* page specific animations ------------------------ */
/* league -------------------------- */
/*.page-league.ng-leave         {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1s both ease-in;
}


.page-league.ng-enter 		{  
    -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;    
}*/
/* line 657, ../sass/app.scss */
.page.ng-leave {
  -webkit-animation: fadeOut 0.6s both ease-in;
  -moz-animation: fadeOut 0.6s both ease-in;
  animation: fadeOut 0.6s both ease-in;
}

/* line 663, ../sass/app.scss */
.page.ng-enter {
  -webkit-animation: fadeIn 2s both ease-in;
  -moz-animation: fadeIn 2s both ease-in;
  animation: fadeIn 2s both ease-in;
}

/* team ------------------------ */
/*.page-team.ng-leave        {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
	-moz-animation:slideOutLeft 0.5s both ease-in;
	animation:slideOutLeft 0.5s both ease-in;   
}
.page-team.ng-enter 		{  
    -webkit-animation:slideInRight 0.5s both ease-in;
	-moz-animation:slideInRight 0.5s both ease-in;
	animation:slideInRight 0.5s both ease-in;    
}
*/
/* fixtures ---------------------- */
/*.page-fixtures.ng-leave      {
    -webkit-transform-origin: 50% 50%;
	-webkit-animation: rotateOutNewspaper .5s both ease-in;
	-moz-transform-origin: 50% 50%;
	-moz-animation: rotateOutNewspaper .5s both ease-in;
	transform-origin: 50% 50%;
	animation: rotateOutNewspaper .5s both ease-in;
}
.page-fixtures.ng-enter 		{ 
    -webkit-animation:slideInUp 0.5s both ease-in;
	-moz-animation:slideInUp 0.5s both ease-in;
	animation:slideInUp 0.5s both ease-in;  
}*/
@media only screen and (min-width: 667px) {
  /* line 703, ../sass/app.scss */
  table tr:hover {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
  }
}
@media only screen and (min-width: 1500px) {
  /* line 714, ../sass/app.scss */
  .page-team #main {
    font-size: 120%;
    max-width: 1000px;
  }

  /* line 721, ../sass/app.scss */
  .page-league #main {
    font-size: 120%;
    max-width: 600px;
  }

  /* line 728, ../sass/app.scss */
  .page-fixtures #main {
    font-size: 120%;
  }
  /* line 732, ../sass/app.scss */
  .page-fixtures #main {
    max-width: 700px;
  }
}
@media only screen and (max-width: 667px) {
  /* line 747, ../sass/app.scss */
  .desktop {
    display: none !important;
  }

  /* line 751, ../sass/app.scss */
  .mobile {
    display: block !important;
  }

  /* line 755, ../sass/app.scss */
  .desktop-inline {
    display: none !important;
  }

  /* line 759, ../sass/app.scss */
  .mobile-inline {
    display: inline-block !important;
  }

  /* line 766, ../sass/app.scss */
  .page-league thead th:nth-child(3), .page-league thead th:nth-child(4), .page-league thead th:nth-child(5),
  .page-league tbody td:nth-child(3), .page-league tbody td:nth-child(4), .page-league tbody td:nth-child(5) {
    display: none;
  }

  /* line 774, ../sass/app.scss */
  .page-team thead th:nth-child(4), .page-team thead th:nth-child(5), .page-team thead th:nth-child(6), .page-team thead th:nth-child(7),
  .page-team tbody td:nth-child(4), .page-team tbody td:nth-child(5), .page-team tbody td:nth-child(6), .page-team tbody td:nth-child(7) {
    display: none;
  }

  /* line 782, ../sass/app.scss */
  .page-fixtures table {
    font-size: 13px;
    font-size: 1.3rem;
  }
  /* line 787, ../sass/app.scss */
  .page-fixtures table thead th:nth-child(1),
  .page-fixtures table tbody td:nth-child(1) {
    display: none;
  }
  /* line 792, ../sass/app.scss */
  .page-fixtures table tbody td:nth-child(2), .page-fixtures table tbody td:nth-child(3) {
    text-align: left;
  }
}
/* fade in */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes -keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* fade out */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes -keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
    -webkit-animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: rotateZ(17deg);
  }
  60% {
    -webkit-transform: rotateZ(16deg);
  }
  100% {
    -webkit-transform: translateY(100%) rotateZ(17deg);
  }
}
@-moz-keyframes rotateFall {
  0% {
    -moz-transform: rotateZ(0deg);
  }
  20% {
    -moz-transform: rotateZ(10deg);
    -moz-animation-timing-function: ease-out;
  }
  40% {
    -moz-transform: rotateZ(17deg);
  }
  60% {
    -moz-transform: rotateZ(16deg);
  }
  100% {
    -moz-transform: translateY(100%) rotateZ(17deg);
  }
}
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotateZ(17deg);
  }
  60% {
    transform: rotateZ(16deg);
  }
  100% {
    transform: translateY(100%) rotateZ(17deg);
  }
}
/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    transform: scale(0.8);
  }
}
@-moz-keyframes scaleUp {
  from {
    opacity: 0.3;
    -moz-transform: scale(0.8);
  }
}
@-webkit-keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
  }
}
/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
  }
}
/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
  to {
    -webkit-transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}
@-moz-keyframes rotateOutNewspaper {
  to {
    -moz-transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}
@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}
