/* app css stylesheet */
/* line 3, ../sass/app.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 24, ../sass/app.scss */
body {
  line-height: 1;
}

/* line 28, ../sass/app.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../sass/app.scss */
nav ul {
  list-style: none;
}

/* line 37, ../sass/app.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/app.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/app.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 56, ../sass/app.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 63, ../sass/app.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 70, ../sass/app.scss */
del {
  text-decoration: line-through;
}

/* line 74, ../sass/app.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 79, ../sass/app.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 85, ../sass/app.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 94, ../sass/app.scss */
input, select {
  vertical-align: middle;
}

/* slightly enhanced, universal clearfix hack */
/* line 99, ../sass/app.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 107, ../sass/app.scss */
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 109, ../sass/app.scss */
* html .clearfix {
  height: 1%;
}

/* line 110, ../sass/app.scss */
.clearfix {
  display: block;
}

/* close commented backslash hack */
/* BASE STYLES
============================================================================= */
/* line 117, ../sass/app.scss */
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

/* line 118, ../sass/app.scss */
body {
  background-color: #000;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.35;
  margin: 0;
  padding: 0;
  letter-spacing: 0.02em;
}

/* line 128, ../sass/app.scss */
.page {
  width: 100%;
  position: absolute;
  top: 0;
}

/* line 135, ../sass/app.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* line 140, ../sass/app.scss */
h1 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}
/* line 147, ../sass/app.scss */
h1 .light {
  font-weight: 300;
}

/* line 151, ../sass/app.scss */
h1.main-title {
  float: left;
  margin-left: 18px;
  line-height: 2;
}

/* line 157, ../sass/app.scss */
h2 {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}
/* line 164, ../sass/app.scss */
h2.secondary-title {
  color: white;
}

/* line 171, ../sass/app.scss */
header {
  border-bottom: 1px solid #fff;
  padding: 10px 0px;
  font-size: 1.4rem;
  font-size: 14px;
  margin-bottom: 30px;
}
/* line 178, ../sass/app.scss */
header nav li {
  float: right;
  margin-right: 18px;
}
/* line 183, ../sass/app.scss */
header .team-icon img {
  width: 26px;
  margin-top: 2px;
}
/* line 188, ../sass/app.scss */
header .table-logo {
  font-weight: 100;
}
/* line 191, ../sass/app.scss */
header .table-logo span, header .table-logo img {
  display: inline-block;
  width: 26px;
}

/* line 198, ../sass/app.scss */
.container {
  padding: 0px 18px 50px 18px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

/* TEAMS */
/* line 207, ../sass/app.scss */
.chelseafc {
  background: #0f5193;
}

/* line 211, ../sass/app.scss */
.manchestercityfc {
  background: #2fb9ea;
}

/* line 218, ../sass/app.scss */
.menu img, .menu span {
  width: 26px;
  display: block;
}

/* line 225, ../sass/app.scss */
.desktop {
  display: block !important;
}

/* line 229, ../sass/app.scss */
.mobile {
  display: none !important;
}

/* line 233, ../sass/app.scss */
.desktop-inline {
  display: inline-block !important;
}

/* line 237, ../sass/app.scss */
.mobile-inline {
  display: none !important;
}

/* PAGES
============================================================================= */
/* line 244, ../sass/app.scss */
.container {
  max-width: 800px;
  margin: 0px auto 0px auto;
  width: 100%;
}

/* line 251, ../sass/app.scss */
.page-league .container {
  max-width: 500px;
}
/* line 255, ../sass/app.scss */
.page-league tbody td:nth-child(2) {
  text-align: left;
}
/* line 259, ../sass/app.scss */
.page-league .menu {
  zoom: 1;
  filter: alpha(opacity=30);
  opacity: 0.3;
}

/* line 270, ../sass/app.scss */
.page-team .menu li:nth-child(2) {
  zoom: 1;
  filter: alpha(opacity=30);
  opacity: 0.3;
}

/* line 278, ../sass/app.scss */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 30px 0 0 0;
}
/* line 284, ../sass/app.scss */
table td, table th {
  text-align: left;
  white-space: nowrap;
  padding: 2px 0 5px;
}
/* line 291, ../sass/app.scss */
table table thead th:last-child {
  text-align: right;
}
/* line 295, ../sass/app.scss */
table th {
  font-weight: 700;
}
/* line 301, ../sass/app.scss */
table tr:hover {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
}
/* line 306, ../sass/app.scss */
table tbody > tr:nth-child(2n+1) {
  font-weight: 300;
}
/* line 310, ../sass/app.scss */
table tbody > tr:nth-child(2n+2) {
  font-weight: 300;
}

/* line 321, ../sass/app.scss */
table.league tbody > tr:nth-child(5) td {
  border-top: 1px dotted rgba(255, 255, 255, 0.25);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
}
/* line 326, ../sass/app.scss */
table.league tbody > tr:nth-child(18) td {
  border-top: 1px dotted rgba(255, 255, 255, 0.25);
}

/* line 331, ../sass/app.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* line 338, ../sass/app.scss */
.page-fixtures .container {
  max-width: 610px;
}
/* line 341, ../sass/app.scss */
.page-fixtures table tbody td:nth-child(1) {
  text-align: left;
}
/* line 345, ../sass/app.scss */
.page-fixtures table tbody td:nth-child(2) {
  text-align: right;
}
/* line 349, ../sass/app.scss */
.page-fixtures table tbody td:nth-child(3) {
  text-align: center;
  font-weight: 100;
}
/* line 354, ../sass/app.scss */
.page-fixtures table tbody td:nth-child(4) {
  text-align: left;
}
/* line 359, ../sass/app.scss */
.page-fixtures .menu li:nth-child(1) {
  zoom: 1;
  filter: alpha(opacity=30);
  opacity: 0.3;
}

/* ANIMATIONS
============================================================================= */
/*
.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }
*/
/* page specific animations ------------------------ */
/* league -------------------------- */
/*.page-league.ng-leave         {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1s both ease-in;
}


.page-league.ng-enter 		{  
    -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;    
}*/
/* line 395, ../sass/app.scss */
.page.ng-leave {
  -webkit-animation: fadeOut 0.6s both ease-in;
  -moz-animation: fadeOut 0.6s both ease-in;
  animation: fadeOut 0.6s both ease-in;
}

/* line 401, ../sass/app.scss */
.page.ng-enter {
  -webkit-animation: fadeIn 2s both ease-in;
  -moz-animation: fadeIn 2s both ease-in;
  animation: fadeIn 2s both ease-in;
}

/* team ------------------------ */
/*.page-team.ng-leave        {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
	-moz-animation:slideOutLeft 0.5s both ease-in;
	animation:slideOutLeft 0.5s both ease-in;   
}
.page-team.ng-enter 		{  
    -webkit-animation:slideInRight 0.5s both ease-in;
	-moz-animation:slideInRight 0.5s both ease-in;
	animation:slideInRight 0.5s both ease-in;    
}
*/
/* fixtures ---------------------- */
/*.page-fixtures.ng-leave      {
    -webkit-transform-origin: 50% 50%;
	-webkit-animation: rotateOutNewspaper .5s both ease-in;
	-moz-transform-origin: 50% 50%;
	-moz-animation: rotateOutNewspaper .5s both ease-in;
	transform-origin: 50% 50%;
	animation: rotateOutNewspaper .5s both ease-in;
}
.page-fixtures.ng-enter 		{ 
    -webkit-animation:slideInUp 0.5s both ease-in;
	-moz-animation:slideInUp 0.5s both ease-in;
	animation:slideInUp 0.5s both ease-in;  
}*/
@media only screen and (max-width: 667px) {
  /* line 442, ../sass/app.scss */
  tr:hover {
    background: none;
  }

  /* line 447, ../sass/app.scss */
  .desktop {
    display: none !important;
  }

  /* line 451, ../sass/app.scss */
  .mobile {
    display: block !important;
  }

  /* line 455, ../sass/app.scss */
  .desktop-inline {
    display: none !important;
  }

  /* line 459, ../sass/app.scss */
  .mobile-inline {
    display: inline-block !important;
  }

  /* line 466, ../sass/app.scss */
  .page-league thead th:nth-child(3), .page-league thead th:nth-child(4), .page-league thead th:nth-child(5),
  .page-league tbody td:nth-child(3), .page-league tbody td:nth-child(4), .page-league tbody td:nth-child(5) {
    display: none;
  }

  /* line 474, ../sass/app.scss */
  .page-team thead th:nth-child(4), .page-team thead th:nth-child(5), .page-team thead th:nth-child(6), .page-team thead th:nth-child(7),
  .page-team tbody td:nth-child(4), .page-team tbody td:nth-child(5), .page-team tbody td:nth-child(6), .page-team tbody td:nth-child(7) {
    display: none;
  }

  /* line 482, ../sass/app.scss */
  .page-fixtures table {
    font-size: 13px;
    font-size: 1.3rem;
  }
  /* line 487, ../sass/app.scss */
  .page-fixtures table thead th:nth-child(1),
  .page-fixtures table tbody td:nth-child(1) {
    display: none;
  }
  /* line 492, ../sass/app.scss */
  .page-fixtures table tbody td:nth-child(2) {
    text-align: left;
  }
}
/* fade in */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes -keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* fade out */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes -keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
    -webkit-animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: rotateZ(17deg);
  }
  60% {
    -webkit-transform: rotateZ(16deg);
  }
  100% {
    -webkit-transform: translateY(100%) rotateZ(17deg);
  }
}
@-moz-keyframes rotateFall {
  0% {
    -moz-transform: rotateZ(0deg);
  }
  20% {
    -moz-transform: rotateZ(10deg);
    -moz-animation-timing-function: ease-out;
  }
  40% {
    -moz-transform: rotateZ(17deg);
  }
  60% {
    -moz-transform: rotateZ(16deg);
  }
  100% {
    -moz-transform: translateY(100%) rotateZ(17deg);
  }
}
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotateZ(17deg);
  }
  60% {
    transform: rotateZ(16deg);
  }
  100% {
    transform: translateY(100%) rotateZ(17deg);
  }
}
/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    transform: scale(0.8);
  }
}
@-moz-keyframes scaleUp {
  from {
    opacity: 0.3;
    -moz-transform: scale(0.8);
  }
}
@-webkit-keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
  }
}
/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
  }
}
/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
  to {
    -webkit-transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}
@-moz-keyframes rotateOutNewspaper {
  to {
    -moz-transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}
@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}
